.header {
  background-color: #2e9233;
  padding: 14px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2; }
  .header .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header .logo {
    max-width: 100px;
    max-height: 50px; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .menu a {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-style: normal;
    font-size: 15px;
    color: #fff;
    margin-left: 65px; }
  .header .phone-link {
    margin: 0 !important; }
  .header .menu a:hover {
    color: #c7deb4;
    text-decoration: none; }
  .header .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .phone {
    font-style: normal;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    margin-left: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .phone:hover {
    color: #c4956a;
    text-decoration: none; }
  .header .logo-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .address p {
    font-style: normal;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 0 0 48px;
    display: inline-block;
    color: #fff; }
  .header .button {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    outline: none !important;
    background: #fff;
    border: 1px solid #fff;
    width: 220px; }
    .header .button .btn {
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      padding: 9px 10px;
      text-align: center;
      color: #2e9233;
      outline: none !important;
      margin-left: 0;
      margin-bottom: 0; }
    .header .button:hover {
      -webkit-transition: .2s;
      transition: .2s;
      background: transparent; }
      .header .button:hover .btn {
        color: #fff; }
  .header .btn:visited, .header .btn:focus, .header .btn:active, .header .btn:hover, .header .btn:focus-within {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .header .button:visited, .header .button:focus, .header .button:active, .header .button:hover, .header .button:focus-within {
    outline: none !important; }
  .header .logo-mobile {
    display: none; }
  .header .toggle-menu {
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
    display: none; }
    .header .toggle-menu span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: 0;
      opacity: 1; }
      .header .toggle-menu span:before {
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        bottom: 5px;
        content: "";
        display: block; }
      .header .toggle-menu span:after {
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        top: 5px;
        content: "";
        display: block; }
  .header .toggle-menu.menu-on span {
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:before {
      background-color: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:after {
      background-color: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .header .change-img .logo-desk {
    display: none; }
  .header .change-img .logo-mobile {
    display: block; }
  @media (max-width: 1050px) {
    .header .header__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: inherit;
      -ms-flex-align: inherit;
      align-items: inherit; }
    .header .main-nav {
      display: none;
      padding-top: 14px; }
    .header .menu li {
      margin-left: 0; }
    .header .main-nav.open {
      display: block; }
    .header .menu {
      display: block;
      text-align: center; }
    .header .menu a {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -.02em;
      font-style: normal;
      font-size: 15px;
      color: #fff;
      display: block;
      margin-bottom: 18px;
      margin-left: 0; }
    .header .button {
      margin-top: 25px; }
    .header .toggle-menu {
      display: block; } }
  @media (max-width: 460px) {
    .header .address p {
      font-size: 12px;
      margin: 0 0 0 10px; } }

.banner {
  position: relative;
  min-height: calc( 100vh - 95px );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../public/images/banner.png") center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("../../public/images/banner.png") center no-repeat;
  background-size: cover;
  padding-top: 95px; }
  .banner .banner-inner {
    min-height: calc( 100vh - 95px );
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .banner .caption {
    line-height: 1.16667;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    max-width: 918px;
    margin: 40px auto 15px; }
  .banner .sub-caption {
    line-height: 1.16667;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px; }
  .banner .circles {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: contents;
    margin: 0 auto 20px; }
  .banner .circles-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 40px; }
  .banner .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .banner .item:hover {
      text-decoration: none; }
    .banner .item .circle {
      height: 130px;
      width: 130px;
      background: #FFFFFF;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 35px;
      margin-left: 35px;
      border: 3px solid #2e9233; }
      .banner .item .circle .icon-roof {
        font-size: 75px; }
      .banner .item .circle .icon-door, .banner .item .circle .icon-truck, .banner .item .circle .icon-contract {
        font-size: 70px; }
    .banner .item .text {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 151.5%;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-top: 17px;
      max-width: 117px;
      margin-bottom: 0; }
  .banner .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .banner .order p {
      font-size: 20px;
      letter-spacing: -.02em;
      color: #fff;
      max-width: 480px;
      text-align: center;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto; }
    .banner .order .button {
      -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
      margin-top: 6px;
      outline: none !important;
      background: #2e9233;
      border: 1px solid #2e9233;
      margin-bottom: 20px; }
      .banner .order .button .btn {
        border: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        padding: 10px 50px;
        text-align: center;
        color: #fff;
        outline: none !important; }
      .banner .order .button:hover {
        -webkit-transition: .2s;
        transition: .2s;
        background: #fff; }
        .banner .order .button:hover .btn {
          color: #2e9233; }
  .banner .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  @media (max-width: 991px) {
    .banner .caption {
      font-size: 35px; }
    .banner .sub-caption {
      font-size: 24px; } }
  @media (max-width: 660px) {
    .banner .caption {
      font-size: 30px; }
    .banner .sub-caption {
      font-size: 20px; } }
  @media (max-width: 630px) {
    .banner .item .circle {
      height: 75px;
      width: 75px; }
    .banner .icon-fance1:before, .banner .icon-fence2:before, .banner .icon-vase:before {
      font-size: 40px; }
    .banner .item .text {
      max-width: 160px;
      line-height: 140.5%; } }
  @media (max-width: 575px) {
    .banner .caption {
      font-size: 25px;
      margin-top: 0; }
    .banner .order {
      margin-bottom: 5px; }
    .banner .circles-holder {
      margin-bottom: 10px; }
    .banner .sub-caption {
      font-size: 18px; }
    .banner .item .circle {
      margin-right: 10px;
      margin-left: 10px; }
    .banner .item .text {
      margin-top: 8px; }
    .banner .order p {
      font-size: 15px; }
    .banner .order .btn {
      font-size: 12px; } }

.why {
  padding: 80px 0;
  background: #e4f3d9; }
  .why .caption {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    color: #024220; }
  .why .image-video {
    position: relative; }
    .why .image-video .fa-play {
      font-size: 54px;
      color: #fff;
      position: absolute;
      top: calc( 50% - 27px);
      left: calc( 50% - 27px); }
      .why .image-video .fa-play:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
  .why .card-cust {
    display: inline-block;
    border: 3px solid #2e9233;
    margin: 10px 10px;
    padding: 10px;
    background: #fff; }
  .why .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .why .title p {
      line-height: 25px;
      font-weight: 600;
      letter-spacing: -.02em;
      font-size: 19px;
      color: #000;
      max-width: 170px;
      margin-left: 20px;
      display: inline-block;
      margin-bottom: 0; }
    .why .title .individ-mob {
      display: none; }
  .why .text {
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -.02em;
    font-size: 16px;
    color: #000;
    max-width: 277px;
    margin-top: 20px;
    display: inline-block; }
  @media (max-width: 1260px) {
    .why .icon-carpenter:before {
      content: "\e900";
      font-size: 45px;
      color: #2e9233; }
    .why .icon-document:before {
      content: "\e901";
      font-size: 45px;
      color: #2e9233; }
    .why .icon-entrance:before {
      content: "\e902";
      font-size: 45px;
      color: #2e9233; }
    .why .icon-individual:before {
      content: "\e906";
      color: #2e9233;
      font-size: 45px; } }
  @media (max-width: 1180px) {
    .why .title p {
      font-size: 16px; } }
  @media (max-width: 1170px) {
    .why .title .individ {
      display: none; }
    .why .title .individ-mob {
      display: block; } }
  @media (max-width: 991px) {
    .why .caption {
      font-size: 28px; }
    .why .image-video {
      margin-bottom: 40px; }
    .why .justify-content-sm-between {
      -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
      justify-content: space-evenly !important; }
    .why .title p {
      font-size: 19px; }
    .why .title .individ-mob {
      display: none; }
    .why .title .individ {
      display: block; }
    .why .icon-carpenter:before, .why .icon-document:before, .why .icon-entrance:before, .why .icon-individual:before {
      font-size: 65px; } }
  @media (max-width: 768px) {
    .why {
      padding: 40px 0; }
      .why .caption {
        font-size: 24px;
        margin-bottom: 20px; }
      .why .image-video {
        margin-bottom: 20px; } }
  @media (max-width: 625px) {
    .why .icon-carpenter:before, .why .icon-document:before, .why .icon-entrance:before, .why .icon-individual:before {
      font-size: 45px; }
    .why .title p {
      font-size: 18px; } }
  @media (max-width: 576px) {
    .why .justify-content-sm-between {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .why .title {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .why .title p {
        max-width: 100%; }
    .why .text {
      display: block;
      max-width: 100%;
      text-align: center; } }
  @media (max-width: 480px) {
    .why .caption {
      font-size: 22px; } }

.models {
  padding: 80px 0;
  background-color: #fff; }
  .models .middle {
    margin: 60px 0; }
  .models .caption {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    color: #024220; }
  .models .title {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #2e9233; }
  .models p {
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -.02em;
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    max-width: 495px; }
  .models .button-text p {
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .models .button {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    outline: none !important;
    background: #2e9233;
    border: 1px solid #2e9233;
    display: inline-block;
    margin-bottom: 30px; }
    .models .button .btn {
      border: none;
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      padding: 10px 50px;
      text-align: center;
      color: #fff;
      outline: none !important; }
    .models .button:hover {
      -webkit-transition: .2s;
      transition: .2s;
      background: transparent; }
      .models .button:hover .btn {
        color: #2e9233; }
  .models .models-slider {
    outline: none; }
  .models .slick-prev:before, .models .slick-next:before {
    font-size: 1px; }
  .models .slick-prev.slick-arrow {
    left: 0; }
  .models .slick-next {
    right: 0; }
  .models .slick-prev, .models .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #2e9233;
    border: 1px solid #2e9233;
    outline: none;
    background: #fff;
    z-index: 1; }
  .models .slick-prev:active, .models .slick-next:active {
    color: #fff;
    border: 1px solid #2e9233;
    background: #2e9233; }
  .models .slick-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    right: 0; }
  .models .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 10px;
    border: 1px #2e9233 solid;
    border-radius: 50%; }
  .models .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    border: 1px #2e9233 solid;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #2e9233;
    border-radius: 50%; }
  .models .slick-dots li button:before {
    content: ""; }
  @media (max-width: 991px) {
    .models .caption {
      font-size: 28px; }
    .models p {
      max-width: 100%;
      text-align: center; } }
  @media (max-width: 768px) {
    .models {
      padding: 40px 0 50px 0; }
      .models .caption {
        font-size: 24px;
        margin-bottom: 20px; }
      .models .button-text p {
        margin-top: 0; }
      .models .middle {
        margin: 40px 0; } }
  @media (max-width: 480px) {
    .models .caption {
      font-size: 22px; }
    .models .title {
      font-size: 20px; } }

.product {
  padding: 80px 0;
  position: relative; }
  .product .overlay {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .product .caption {
    line-height: 1.16667;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    color: #fff;
    margin-bottom: 40px; }
  .product p {
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -.02em;
    font-size: 16px;
    color: #fff;
    max-width: 495px; }
  .product form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .product form p {
      line-height: 20px;
      font-weight: normal;
      letter-spacing: -.02em;
      font-size: 16px;
      color: #fff;
      margin-bottom: 10px;
      max-width: 245px;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  .product input {
    display: block;
    width: 100%;
    min-height: 42px;
    padding: 9px 0 9px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.02em;
    border-radius: 0;
    border: 1px solid #fff;
    font-style: normal;
    background: transparent;
    outline: none;
    color: #FFFFFF; }
  .product input[type="text"] {
    margin-bottom: 15px; }
  .product input[type="tel"] {
    margin-bottom: 20px; }
  .product input:focus {
    outline: none; }
  .product input::-webkit-input-placeholder {
    color: #FFFFFF; }
  .product input::-ms-input-placeholder {
    color: #FFFFFF; }
  .product input::-ms-input-placeholder {
    color: #FFFFFF; }
  .product input:-ms-input-placeholder {
    color: #FFFFFF; }
  .product input::placeholder {
    color: #FFFFFF; }
  .product button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #2e9233;
    font-weight: 700;
    letter-spacing: -.02em;
    text-transform: uppercase;
    text-align: center;
    background-color: #2e9233;
    color: #FFFFFF;
    border-radius: 0; }
    .product button:hover {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }
  @media (max-width: 991px) {
    .product .caption {
      font-size: 28px;
      text-align: center; }
    .product p {
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px; } }
  @media (max-width: 768px) {
    .product {
      padding: 40px 0; }
      .product .caption {
        font-size: 24px;
        margin-bottom: 20px; } }
  @media (max-width: 480px) {
    .product .caption {
      font-size: 22px; } }

.stages {
  padding: 80px 0;
  background-color: #e4f3d9;
  text-align: center; }
  .stages .caption {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    text-align: center;
    color: #024220;
    margin-bottom: 40px; }
  .stages .image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #024220; }
  .stages .in-text {
    position: absolute;
    top: 34%;
    left: 2%;
    right: 2%;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -.02em;
    font-size: 16px;
    color: #000; }
  .stages .title {
    position: relative;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -.02em;
    font-size: 16px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px; }
  .stages .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)); }
  .stages .number {
    position: absolute;
    left: 5px;
    color: #024220;
    top: 5px;
    font-size: 122px;
    line-height: 0.7;
    font-weight: bold; }
  .stages .button {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    outline: none !important;
    background: #2e9233;
    border: 1px solid #2e9233;
    display: inline-block;
    margin-bottom: 30px; }
    .stages .button .btn {
      border: none;
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      padding: 10px 30px;
      text-align: center;
      color: #fff;
      outline: none !important; }
    .stages .button:hover {
      -webkit-transition: .2s;
      transition: .2s;
      background: transparent; }
      .stages .button:hover .btn {
        color: #2e9233; }
  @media (max-width: 1290px) {
    .stages .number {
      font-size: 94px; } }
  @media (max-width: 991px) {
    .stages .caption {
      font-size: 28px; }
    .stages .image {
      margin: 10px 0; }
    .stages .number {
      font-size: 122px; } }
  @media (max-width: 768px) {
    .stages {
      padding: 40px 0; }
      .stages .caption {
        font-size: 24px;
        margin-bottom: 20px; }
      .stages .title {
        margin-top: 20px; }
      .stages .button {
        margin-bottom: 0; } }
  @media (max-width: 670px) {
    .stages .number {
      font-size: 94px; } }
  @media (max-width: 575px) {
    .stages .number {
      font-size: 122px; } }
  @media (max-width: 480px) {
    .stages .caption {
      font-size: 22px; } }

.reviews {
  padding: 80px 0;
  position: relative;
  background-color: #e4f3d9; }
  .reviews .reviews-slider {
    outline: none;
    text-align: center; }
  .reviews .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .reviews .caption {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    text-align: center;
    color: #024220;
    margin-bottom: 40px; }
  .reviews .name {
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -.02em;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    bottom: 20px; }
  .reviews .reviews-text {
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -.02em;
    font-size: 16px;
    color: #000; }
  .reviews .reviews-body {
    padding-left: 15px;
    padding-right: 15px;
    outline: none; }
  .reviews .slick-prev:before, .reviews .slick-next:before {
    font-size: 1px; }
  .reviews .slick-prev.slick-arrow {
    right: 60px; }
  .reviews .slick-next {
    right: 0; }
  .reviews .slick-prev, .reviews .slick-next {
    top: 108%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #2e9233;
    border: 1px solid #2e9233;
    outline: none;
    background: #fff;
    z-index: 1; }
  .reviews .slick-prev:active, .reviews .slick-next:active {
    color: #fff;
    border: 1px solid #2e9233;
    background: #2e9233; }
  .reviews .slick-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    right: 0; }
  .reviews .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 10px;
    border: 1px #2e9233 solid;
    border-radius: 50%; }
  .reviews .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    border: 1px #2e9233 solid;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #2e9233;
    border-radius: 50%; }
  .reviews .slick-dots li button:before {
    content: ""; }
  @media (max-width: 991px) {
    .reviews .caption {
      font-size: 28px; } }
  @media (max-width: 768px) {
    .reviews {
      padding: 40px 0; }
      .reviews .caption {
        font-size: 24px;
        margin-bottom: 20px; } }
  @media (max-width: 480px) {
    .reviews .caption {
      font-size: 22px; } }

.certificates {
  padding: 80px 0;
  position: relative;
  background-color: #fff; }
  .certificates .caption {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    text-align: center;
    color: #024220;
    margin-bottom: 40px; }
  .certificates .gallery-image {
    padding: 0 15px; }
  .certificates .slick-prev:before, .certificates .slick-next:before {
    font-size: 1px; }
  .certificates .slick-prev.slick-arrow {
    right: 60px; }
  .certificates .slick-next {
    right: 0; }
  .certificates .slick-prev, .certificates .slick-next {
    top: 108%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #2e9233;
    border: 1px solid #2e9233;
    outline: none;
    background: #fff;
    z-index: 1; }
  .certificates .slick-prev:active, .certificates .slick-next:active {
    color: #fff;
    border: 1px solid #2e9233;
    background: #2e9233; }
  .certificates .slick-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    right: 0; }
  .certificates .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 10px;
    border: 1px #2e9233 solid;
    border-radius: 50%; }
  .certificates .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    border: 1px #2e9233 solid;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #2e9233;
    border-radius: 50%; }
  .certificates .slick-dots li button:before {
    content: ""; }
  @media (max-width: 991px) {
    .certificates .caption {
      font-size: 28px; } }
  @media (max-width: 768px) {
    .certificates {
      padding: 40px 0; }
      .certificates .caption {
        font-size: 24px;
        margin-bottom: 20px; } }
  @media (max-width: 480px) {
    .certificates .caption {
      font-size: 22px; } }

.works {
  padding: 80px 0;
  background-color: #fff;
  text-align: center; }
  .works .caption {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    text-align: center;
    color: #024220;
    margin-bottom: 40px; }
  .works .slider {
    max-width: 960px;
    margin: auto; }
  .works .slider-nav {
    margin-top: 20px; }
  .works .image {
    padding: 0 5px;
    outline: none !important; }
    .works .image:focus {
      outline: none !important; }
  .works .image-small {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; }
  .works .work-slider, .works .slider-nav, .works .slider-nav:focus, .works .slider-for, .works .slick-list, .works .slider {
    outline: none !important; }
  .works .slick-prev:before, .works .slick-next:before {
    font-size: 1px; }
  .works .slick-prev.slick-arrow {
    left: 5px !important; }
  .works .slick-next {
    right: 5px !important; }
  .works .slick-prev, .works .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #2e9233;
    border: 1px solid #2e9233;
    outline: none;
    background: #fff;
    z-index: 1; }
  .works .slick-prev:active, .works .slick-next:active {
    color: #fff;
    border: 1px solid #2e9233;
    background: #2e9233; }
  @media (max-width: 991px) {
    .works .caption {
      font-size: 28px; } }
  @media (max-width: 768px) {
    .works {
      padding: 40px 0; }
      .works .caption {
        font-size: 24px;
        margin-bottom: 20px; }
      .works .slider-nav {
        margin-top: 10px; } }
  @media (max-width: 576px) {
    .works .slick-prev, .works .slick-next {
      width: 30px;
      height: 30px; } }
  @media (max-width: 480px) {
    .works .caption {
      font-size: 22px; } }

.footer {
  padding: 80px 0 40px 0;
  position: relative;
  background-color: #e4f3d9; }
  .footer .caption {
    line-height: 1.16667;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.02em;
    font-size: 32px;
    text-align: center;
    color: #024220;
    margin-bottom: 40px; }
  .footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer .contact .phone {
      display: block; }
    .footer .contact .middle {
      margin: 20px 0; }
    .footer .contact .contact-title {
      font-size: 15px;
      font-weight: bold;
      line-height: 24px;
      letter-spacing: -.02em;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: #000; }
    .footer .contact .contact-text, .footer .contact .contact-text a {
      letter-spacing: -.02em;
      color: #000;
      margin-bottom: 0;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px; }
    .footer .contact .contact-text a:hover {
      text-decoration: none; }
  .footer form {
    display: inline-block;
    background: #fff;
    padding: 40px 40px 40px 40px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 370px;
    margin: auto;
    text-align: center; }
    .footer form .form-title {
      line-height: 20px;
      font-weight: normal;
      letter-spacing: -.02em;
      font-size: 20px;
      color: #000;
      text-align: center;
      margin-bottom: 25px; }
    .footer form input {
      display: block;
      width: 100%;
      min-height: 42px;
      padding: 9px 0 9px 20px;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -.02em;
      border-radius: 0;
      border: 1px solid #000;
      font-style: normal;
      background: transparent;
      outline: none;
      color: #000; }
    .footer form input[type="text"] {
      margin-bottom: 20px; }
    .footer form input[type="tel"] {
      margin-bottom: 40px; }
    .footer form input:focus {
      outline: none; }
    .footer form input::-webkit-input-placeholder {
      color: #000; }
    .footer form input::-ms-input-placeholder {
      color: #000; }
    .footer form input::-ms-input-placeholder {
      color: #000; }
    .footer form input:-ms-input-placeholder {
      color: #000; }
    .footer form input::placeholder {
      color: #000; }
  .footer button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #2e9233;
    font-weight: 700;
    letter-spacing: -.02em;
    text-align: center;
    background-color: #2e9233;
    color: #FFFFFF;
    border-radius: 0; }
    .footer button:hover {
      background-color: transparent;
      border: 1px solid #2e9233;
      color: #2e9233; }
  .footer .footer-bottom {
    margin-top: 40px; }
    .footer .footer-bottom .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer .footer-bottom .social a:hover {
        text-decoration: none; }
    .footer .footer-bottom .icon-facebook, .footer .footer-bottom .icon-instagram {
      font-size: 45px;
      color: #2e9233; }
    .footer .footer-bottom .icon-yotube {
      font-size: 50px;
      color: #2e9233; }
  @media (max-width: 991px) {
    .footer .caption {
      font-size: 28px; }
    .footer form {
      margin-top: 20px; } }
  @media (max-width: 768px) {
    .footer {
      padding: 40px 0; }
      .footer .caption {
        font-size: 24px;
        margin-bottom: 20px; } }
  @media (max-width: 480px) {
    .footer .caption {
      font-size: 22px; }
    .footer form {
      width: 100%; } }

@font-face {
  font-family: 'Lato';
  src: local("Lato Light"), local("Lato-Light"), url("../../public/fonts/latolight.woff2") format("woff2"), url("../../public/fonts/latolight.woff") format("woff"), url("../../public/fonts/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Medium"), local("Lato-Medium"), url("../../public/fonts/latomedium.woff2") format("woff2"), url("../../public/fonts/latomedium.woff") format("woff"), url("../../public/fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../../public/fonts/latosemibold.woff2") format("woff2"), url("../../public/fonts/latosemibold.woff") format("woff"), url("../../public/fonts/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../../public/fonts/icomoon.eot?1g9m41");
  src: url("../../public/fonts/icomoon.eot?1g9m41#iefix") format("embedded-opentype"), url("../../public/fonts/icomoon.ttf?1g9m41") format("truetype"), url("../../public/fonts/icomoon.woff?1g9m41") format("woff"), url("../../public/fonts/icomoon.svg?1g9m41#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-carpenter:before {
  content: "\e900";
  font-size: 65px;
  color: #2e9233; }

.icon-document:before {
  content: "\e901";
  font-size: 65px;
  color: #2e9233; }

.icon-entrance:before {
  content: "\e902";
  font-size: 65px;
  color: #2e9233; }

.icon-facebook:before {
  content: "\e903"; }

.icon-fance1:before {
  content: "\e904";
  font-size: 82px;
  color: #2e9233; }

.icon-fence2:before {
  content: "\e905";
  color: #2e9233;
  font-size: 82px; }

.icon-individual:before {
  content: "\e906";
  color: #2e9233;
  font-size: 65px; }

.icon-instagram:before {
  content: "\e907"; }

.icon-vase:before {
  content: "\e908";
  font-size: 82px;
  color: #2e9233; }

.icon-yotube:before {
  content: "\e909"; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: normal; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.container-fluid {
  padding: 0 0 !important; }

img {
  width: 100%;
  height: auto; }

.devgen a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.7); }
  .devgen a:hover {
    text-decoration: none; }

.mfp-close-btn-in .mfp-close {
  background: transparent;
  border: none;
  color: #2e9233;
  font-size: 32px;
  padding: 0;
  margin: 0;
  width: 55px; }

.popup {
  background: #FFFFFF;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 40px 20px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); }
  .popup .logo {
    max-width: 100px;
    max-height: 50px;
    margin: 0 auto 20px auto; }
  .popup form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .popup form p {
      line-height: 20px;
      font-weight: normal;
      letter-spacing: -.02em;
      font-size: 16px;
      color: #000;
      text-align: center;
      margin-bottom: 20px;
      max-width: 265px;
      margin-left: auto;
      margin-right: auto; }
  .popup input {
    display: block;
    width: 100%;
    min-height: 42px;
    padding: 9px 0 9px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.02em;
    border-radius: 0;
    border: 1px solid #000;
    font-style: normal;
    background: transparent;
    outline: none;
    color: #000;
    margin-bottom: 20px; }
  .popup input:focus {
    outline: none; }
  .popup input::-webkit-input-placeholder {
    color: #000; }
  .popup input::-ms-input-placeholder {
    color: #000; }
  .popup input::-ms-input-placeholder {
    color: #000; }
  .popup input:-ms-input-placeholder {
    color: #000; }
  .popup input::placeholder {
    color: #000; }
  .popup button {
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    padding: 9px 30px;
    border: 1px solid #2e9233;
    font-weight: 700;
    letter-spacing: -.02em;
    text-transform: uppercase;
    text-align: center;
    background-color: #2e9233;
    color: #FFFFFF;
    border-radius: 0;
    width: 230px;
    margin: auto; }
    .popup button:hover {
      background-color: transparent;
      color: #2e9233; }
  @media (max-width: 580px) {
    .popup {
      padding: 20px 10px; }
      .popup form {
        padding: 20px 0 20px 0;
        display: block; }
        .popup form input {
          width: 100%; } }

#popup3 {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 70px 20px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); }
  #popup3 h6 {
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -.02em;
    font-size: 24px;
    color: #000;
    margin-bottom: 40px; }
  #popup3 p {
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -.02em;
    font-size: 18px;
    color: #000;
    margin-bottom: 40px;
    max-width: 387px;
    margin-right: auto;
    margin-left: auto; }
  #popup3 .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #popup3 .social a:hover {
      text-decoration: none; }
  #popup3 .icon-facebook, #popup3 .icon-instagram {
    font-size: 45px;
    color: #2e9233;
    margin: 0 15px; }
  @media (max-width: 900px) {
    #popup3 {
      width: 100%; } }
